:host {
    padding: 24px;
}

.toolbar{
  background-color: #2a2e35;
  display: flex;
  justify-content: center;
  border-bottom: 2px dashed grey;
  margin: 2rem 0;
  &__title{
    font-family: 'Urbanist', sans-serif;
    font-size: 2em;
    text-align: center;
    padding-bottom: .5em;
  }
}

.card-wrapper{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--desktop{
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__link{
    text-decoration: none;
  }
  &__card {
    max-width: 400px;
    margin: 2rem;
    &__header{
      &__title{
        max-width: 300px;
      }
    }
  }
}
.fab-buttons{
  position: fixed !important;
  bottom: 15px;
  right: 15px;
}
