<app-loading-spinner *ngIf="!movie" ></app-loading-spinner>
<div class="card-wrapper" *ngIf="movie">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="movie.poster" />
    <mat-card-content>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngFor="let genre of movie.genre">{{genre}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
<div class="fab-buttons" *ngIf="movie" >
  <button (click)="editMovie(movie)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>edit</mat-icon>
  </button>
  <button (click)="deleteMovie(movie)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button>
</div>
